/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://img.freepik.com/free-vector/gradient-numerology-background_23-2150051037.jpg") 
    no-repeat center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Main App Styles */
.app {
  min-width: 320px;
  padding: 1rem;
  text-align: center;
}

/* Heading Styles */
.app-heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Count Display Styles */
.count {
  color: #fff;
  font-size: 3.5rem;
  font-style: italic;
  margin: 0.5rem;
}

/* Base Button Styles */
.btn {
  color: #fff;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.07s linear;
}

/* Button Colors */
.reset-btn {
  background-color: #007bff;
}

.dec-btn {
  background-color: #dc3545;
}

.inc-btn {
  background-color: #28a745;
}

.sq-btn {
  color: #007fb4;
  background-color: #f4f4f4;
}

/* Button Hover Effects */
.reset-btn:hover {
  background-color: #0056b3;
}

.dec-btn:hover {
  background-color: #c82333;
}

.inc-btn:hover {
  background-color: #218838;
}

