body {
  font-family: Arial, Helvetica, sans-serif; 
  background: url("/public/background.png") no-repeat center;
  background-size: cover;
  height: 100vh; 
  display: flex; 
  justify-content: right; 
  align-items: center; 
}

/* Main app container */
.app {
  min-width: 320px;
  padding: 1rem;
  margin-right: 7rem;
}

/* Heading */
.app-heading {
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Count display */
.count {
  color: #333;
  font-size: 3.5rem;
  font-style: italic;
  margin: 0.5rem;
}

/* Button styles */
.btn {
  color: #fff;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s linear;
}

/* Button colors */
.reset-btn {
  background-color: #007bff;
}

.dec-btn {
  background-color: #dc3545;
}

.inc-btn {
  background-color: #28a745;
}

.sq-btn {
  background-color: #333;
}

/* Hover effects */
.reset-btn:hover {
  background-color: #0056b3;
}

.dec-btn:hover {
  background-color: #c82333;
}

.inc-btn:hover {
  background-color: #218838;
}

.sq-btn:hover {
  color: #007fb4;
  background-color: #f4f4f4;
}

